
<head>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>

  <!-- <div class="overlay">
    <div class="top">
        <h1>Donkey</h1>
    </div>
    
    <div class="main">
        <h1>Kong</h1>
    </div>
    <div class="main">
        <h1>Kong</h1>
    </div> 
  </div>-->
<div class="top">
<img src="../assets/Nomthandazo.jpg" width="200px " height="200px">
<h1 style="font-size: 25px" align="center"><font color="white" >Nomthandazo Sholane Mokoena</font><br> IT Graduate </h1>
</div>
<div class="left">
  <br>
<h2>Personal<br> Profile</h2>
<hr color="orange" >
<p>Self-motivated, problem solver, Hardworking, Creative thinker, Good decision maker, excellent time
    management, excellent writing skills and verbal communication, Ambitious, Helpful and disciplined
    </p>

  <h2>Contacts</h2>
  <hr color="orange" >

  <i class="fa fa-envelope"> nsmokoena25@gmail.com</i> <br> <br>

  <i class="fa fa-phone"> 0711927441</i>  <br> <br>

  <i class="fa fa-address-card"> 9020 Maphale Street Tokoza Gardens 1426</i><br>
  <i class="fab fa-linkedin">/Nomthandazo</i>
  <br>
  <h2>Education</h2>
  <hr color="orange" > 
 <tr>
   <td>Lamulelani Secondary School</td>
  </tr>
   <tr>
     <td>Grade 12</td>
 </tr>
 <tr>
   <th>Year Obtained:</th>
   <td>2008</td>
 </tr>
  <tr>

    <td>PC Training & Business College</td>
    </tr>
    <tr>
    <td>IT National Diploma</td>
  </tr>
  <tr>
    <th>Year Obtained:</th>
    <td>2011</td>
  </tr>
  <br>
  <tr>
    <td>Vaal university of Technology</td>
  </tr>
  <tr>
    <td>IT  National Diploma</td>

  </tr>
  <tr>
    <th>Year Obtained:</th>
    <td>2018</td>
  </tr>
  <br>
  <br>
  <h2>References</h2>
  <hr color="orange" >
<tr>
  <td>Emalahleni General Hospital</td>
</tr>
<tr>
  <td>Mrs Lindiwe</td>
  <td>HR Head at Witbank Hospital</td>
</tr>
<tr>
    <i class="fa fa-phone">0136532000/0136566976</i>
</tr>
<br>
<tr>
  <td>Vaal  University of  technology </td>
</tr>
<tr>
  <td>Mr X Piyose</td>
  <td>Lecture and Project Instructor (Vaal University of Technology)</td>
</tr>
<tr>
    <i class="fa fa-phone">0833019311</i>
</tr>
</div>
<div class="right">
  <br>
  <h2 >Skills</h2>
  <hr color="orange" >
  <ul style="list-style-type:square">
      <li> Proficient computer user and programmer, Cisco A+, Cisco N+</li>
      <li>competent in PL/SQL,  SQL</li>
      <li>Visual Basic, Java, Microsoft Server and ADO.net.</li>
  </ul>
<br>
<br>
<br>
<br>
<h2>Experience</h2>
<hr color="orange" >

<tr>
  <th>Emalahleni General Hospital</th>
  <td>,Volunteer Technician</td>
</tr>
<tr>
  <td align="center" style="font-size: 15px">06 February 2011- 31 June 2011</td>
</tr>
  <ul style="list-style-type:square">
      <li> Trouble Shooting</li>
      <li>updating and installing software</li>
      <li>cable connection</li>
  </ul>
<br>
<br>
  <br>
  <br>
<tr>
  <th>Vaal university of technology</th>
  <td>,Volunteer</td>
</tr>
<tr>
  <td align="center" style="font-size: 15px">02 February 2015- 05 November 2015</td>
</tr>
<ul style="list-style-type:square">
    <li>Mentor First year IT student in their major subjects.</li>
    </ul>
    <br>
    <br>
<br>
<br>
    <br>
    <br>
    <tr>
     <th>Mlab- Codetribe Academy</th>
     <td>Developer Traimee</td>
     </tr>
     <tr>
       <td align="center" style="font-size: 15px">02 may 2018- October</td>

     </tr>
<br>
<br>
<br>
<ul style="list-style-type:square">
    <li>computer programming or desing </li>
    <li>software developer or a tester</li>
    <li>maintenance of existing software products</li>
    <li>designing new software  </li>
    <li>installation and customization of software</li>
</ul>
</div>


</body>
